<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServ</servlet-name>
        <servlet-class>bookshop.controller.BookShop.LoginServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServ</servlet-name>
        <servlet-class>bookshop.controller.BookShop.LogoutServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServ</servlet-name>
        <servlet-class>bookshop.controller.BookShop.RegisterServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServ</servlet-name>
        <servlet-class>bookshop.controller.BookShop.ProductServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCart</servlet-name>
        <servlet-class>bookshop.model.AddCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListType</servlet-name>
        <servlet-class>bookshop.controller.BookShop.ListType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleServ</servlet-name>
        <servlet-class>bookshop.controller.BookShop.SingleServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderProduct</servlet-name>
        <servlet-class>bookshop.controller.BookShop.Order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>bookshop.controller.BookShop.Order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateImgServ</servlet-name>
        <servlet-class>bookshop.controller.Account.UpdateImgServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccount</servlet-name>
        <servlet-class>bookshop.controller.Account.UpdateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePass</servlet-name>
        <servlet-class>bookshop.controller.Account.UpdatePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServ</servlet-name>
        <servlet-class>bookshop.controller.BookShop.CartServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCartServ</servlet-name>
        <servlet-class>bookshop.controller.BookShop.LoadCartServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQtyCartServ</servlet-name>
        <servlet-class>bookshop.controller.BookShop.UpdateQtyCartServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartAccount</servlet-name>
        <servlet-class>bookshop.controller.Account.CartAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartAccount</servlet-name>
        <servlet-class>bookshop.controller.Account.DeleteCartAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServ</servlet-name>
        <servlet-class>bookshop.controller.Admin.AdminServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAdminServ</servlet-name>
        <servlet-class>bookshop.controller.Admin.LogoutAdminServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUser</servlet-name>
        <servlet-class>bookshop.controller.Admin.ListUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBill</servlet-name>
        <servlet-class>bookshop.controller.Admin.ListBill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleBill</servlet-name>
        <servlet-class>bookshop.controller.Account.SingleBill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCart</servlet-name>
        <servlet-class>bookshop.controller.Account.DeleteCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerEmailServ</servlet-name>
        <servlet-class>bookshop.controller.RegisterEmail.registerEmailServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFeedback</servlet-name>
        <servlet-class>bookshop.controller.Feedback.ListFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postFeedback</servlet-name>
        <servlet-class>bookshop.controller.Feedback.PostFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostFeedback</servlet-name>
        <servlet-class>bookshop.controller.Feedback.PostFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManager</servlet-name>
        <servlet-class>bookshop.controller.Admin.ProductManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>bookshop.controller.Admin.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProduct</servlet-name>
        <servlet-class>bookshop.controller.Admin.ListProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>bookshop.controller.Admin.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AmountType</servlet-name>
        <servlet-class>bookshop.controller.Admin.AmountType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellingProduct</servlet-name>
        <servlet-class>bookshop.controller.BookShop.SellingProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServ</servlet-name>
        <url-pattern>/LoginServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServ</servlet-name>
        <url-pattern>/LogoutServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServ</servlet-name>
        <url-pattern>/RegisterServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServ</servlet-name>
        <url-pattern>/ProductServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCart</servlet-name>
        <url-pattern>/AddCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListType</servlet-name>
        <url-pattern>/ListType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleServ</servlet-name>
        <url-pattern>/SingleServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderProduct</servlet-name>
        <url-pattern>/OrderProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateImgServ</servlet-name>
        <url-pattern>/UpdateImgServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccount</servlet-name>
        <url-pattern>/UpdateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePass</servlet-name>
        <url-pattern>/UpdatePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServ</servlet-name>
        <url-pattern>/CartServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCartServ</servlet-name>
        <url-pattern>/LoadCartServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQtyCartServ</servlet-name>
        <url-pattern>/UpdateQtyCartServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartAccount</servlet-name>
        <url-pattern>/CartAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartAccount</servlet-name>
        <url-pattern>/DeleteCartAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServ</servlet-name>
        <url-pattern>/AdminServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAdminServ</servlet-name>
        <url-pattern>/LogoutAdminServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUser</servlet-name>
        <url-pattern>/ListUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBill</servlet-name>
        <url-pattern>/ListBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleBill</servlet-name>
        <url-pattern>/SingleBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCart</servlet-name>
        <url-pattern>/DeleteCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerEmailServ</servlet-name>
        <url-pattern>/registerEmailServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFeedback</servlet-name>
        <url-pattern>/ListFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postFeedback</servlet-name>
        <url-pattern>/postFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostFeedback</servlet-name>
        <url-pattern>/PostFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManager</servlet-name>
        <url-pattern>/ProductManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProduct</servlet-name>
        <url-pattern>/ListProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AmountType</servlet-name>
        <url-pattern>/AmountType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellingProduct</servlet-name>
        <url-pattern>/SellingProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
